#{ provide(:title, 'Edit: ' + category.name) }

= render 'form'

.new-button
  .margin-top
    = link_to category do
      %md-button.md-raised.md-primary.btn
        %strong Show Category

.back-button
  = link_to categories_path do
    %md-button.md-raised.md-primary.btn
      %strong Back to home
