#{ provide(:title, 'Create category') }

%h1 New category

= render 'form'

.back-button
  = link_to categories_path do
    %md-button.md-raised.md-primary.btn
      %strong Back

//= link_to 'Back', categories_path, class: 'btn btn-primary'
