#{ provide(:title, 'Edit: ' + product.title) }

= render 'form'

.new-button
  .margin-top
    = link_to category_product_path(category, product) do
      %md-button.md-raised.md-primary.btn
        %strong Show Product

.back-button
  = link_to category_path(category) do
    %md-button.md-raised.md-primary.btn
      %strong Back to product

